<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>課題！！！！！！！！！！！！！</h1>

      <% require 'pg' %>

      <% connection = PG::connect(dbname: "goya") %>
      <% connection.internal_encoding = "UTF-8" %>

      <!-- formに囲まれている内容を、indicate.rb(cgi)に送信しますという記述 -->
      <% result = connection.exec("select * from crops where not(give_for = '自家消費');") %>
      <% data = [] %>
  
      <% result.each do |record| %>
        <% data << "譲渡先リスト : #{record["give_for"]}" %>
      <% end %>
  
      <form action="give_for.cgi" method="POST">
        <input type="text" name="goya" value="<%= data.join(' ') %>">
        <input type="submit" name="送信" >
      </form>

     <% result = connection.exec("select * from crops where quality = false;") %>
     <% data = [] %>

     <% result.each do |record| %>
        <% data << "良くない品質のゴーヤ：#{record["quality"]} ゴーヤの重さ:#{record["weight"]}" %>
     <% end %>

    <form action="quality.cgi" method="POST">
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>